/************************************************

Stylesheet: Global Stylesheet

*************************************************/

$lato: 'Lato', sans-serif;
$noto: 'Noto Serif KR', serif;

/*********************
HEADER
*********************/

.header-wrapper {
	display: block;
	background-color: #fafbfc;
	background-image: url("../images/45-degree-fabric-light.png");
	width: 100%
}

.header {
	ul.off-canvas-list li {
		list-style: none;
	}
	display: block;
	max-width: 2500px;
	margin: 0 auto;
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	//font-family: $oswald;
	font-family: $lato;
	text-transform: uppercase;
	letter-spacing: rem-calc(1.5);
	padding-top: 0;
	background: none !important;
	.title-area {
		z-index: 1;
	}
	ul {
		background: none !important;
	}
}



#infinity-logo {
  display: block;
  width: rem-calc(50);
  height: rem-calc(40);
  margin: rem-calc(3 0 0);
  @include breakpoint(medium) {
    width: rem-calc(48);
		margin: rem-calc(10 0 0 0);
  }
  @include breakpoint(large) {
    width: rem-calc(100);
  }
	@include breakpoint(xlarge) {
    margin: rem-calc(22 0 0 30);
  }
	@include breakpoint(xxlarge) {
    margin: rem-calc(28 0 0 30);
  }
}

.site-name {
  a {
    color: $black;
		font-family: 'Lato', sans-serif;
    font-size: rem-calc(21);
    display: block;
		font-weight: bold;
    margin: rem-calc(13 0 0 10);
    @include breakpoint(medium) {
      font-size: rem-calc(22);
			margin: rem-calc(17 0 0 10);
			letter-spacing: rem-calc(1);
    }
    @include breakpoint(large) {
      font-size: rem-calc(33);
      margin: rem-calc(17 0 0 15);
    }
		@include breakpoint(xlarge) {
	    margin: rem-calc(15 0 0 25);
	  }
		@include breakpoint(xxlarge) {
			font-size: rem-calc(47);
	    margin: rem-calc(13 0 0 20);
			letter-spacing: rem-calc(2);
	  }
    &:hover {
      color: $primary-color;
    }
  }
}


.top-bar-right {

	@include breakpoint(small) {
		float: left;
	}
	@include breakpoint(medium) {
		float: right;
	}

	.main-nav {

		@include breakpoint(medium) {
			font-size: rem-calc(16);
			margin: rem-calc(13 0 0 0);
		}
		@include breakpoint(large) {
			font-size: rem-calc(22);
			margin: rem-calc(20 30 0 0);
		}
		@include breakpoint(xlarge) {
	    margin: rem-calc(16 30 0 0);
	  }

		li {
			padding-right: rem-calc(10);
			&:last-child {
				padding-right: 0;
				a {
					padding-right: 0;
					margin-right: 0;
				}
			}
			@include breakpoint(medium) {
				padding-right: rem-calc(12);
			}
		}

	a {
		color: $black;
		font-size: rem-calc(13);
		&:first-child {
			padding-left: 0;
		}
		@include breakpoint(medium) {
			font-size: rem-calc(16);
			letter-spacing: rem-calc(1);
		}
		@include breakpoint(large) {
			font-size: rem-calc(22);
			letter-spacing: rem-calc(2);
		}
		@include breakpoint(xlarge) {
			font-size: rem-calc(26);
			letter-spacing: rem-calc(2);
		}
		&:hover {
			color: $primary-color;
		}
	}

	li.is-submenu-item	{
		padding::rem-calc(5 10);
	}

	.is-dropdown-submenu {
		background: white !important;
		background-image: url("../images/45-degree-fabric-light.png") !important;
	}

	button {
		color: $black;

		@include breakpoint(small) {

		}
		@include breakpoint(medium) {
			font-size: rem-calc(10);
		}
		@include breakpoint(large) {
			font-size: rem-calc(15);
		}
	}

 } // .main-nav
} // .top-bar-right



.newsletter-wrapper {
	background: #ff8000;
	background-image: url("../images/45-degree-fabric-light.png");
	opacity: .42;
}

.newsletter-callout {
	@include xy-grid-container();
		opacity: 1 !important;
	h3 {
		text-align: center;
		padding: rem-calc(8 0 10 0);
		font-family: $noto;
	}
}




.content {

}




/*********************
LANDING
*********************/


.landing-hero {
	@include xy-cell(50%);
	@include breakpoint(xxlarge) {
			h2 {
				font-size: rem-calc(39);
				font-family: $lato;
				letter-spacing: rem-calc(2);
			}
			p {
				font-size: rem-calc(28);
				font-family: $noto;
				font-weight: normal;
			}
			h3 {
				font-family: $lato;
			}
		}
}

.landing-carousel {
	@include xy-cell(50%);
}

.cahuita-retreat-link-wrapper {
	&:hover {
		figcaption {
			background: $primary-color;
			-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
			-moz-transition: visibility 0.2s linear, opacity 0.2s linear;
			-o-transition: visibility 0.2s linear, opacity 0.2s linear;
		}
	}
}

.cahuita-caption {
	font-size: rem-calc(28);
	text-transform: uppercase;
	letter-spacing: rem-calc(1.5);
}


.landing-poses {
	@include xy-cell(26.35%);
	figure, img {
		display: block;
		margin: 0 auto;
	}
}

.landing-sequences {
	@include xy-cell(73.65%);
	figure, img {
		margin: 0 auto;
	}
}

.landing-classes {
	@include xy-cell(41.5%);
	figure, img {
		margin: 0 auto;
	}
}

.landing-articles {
	@include xy-cell(58.5%);
	figure, img {
		width:100%;
		margin: 0 auto;
	}
}


.landing-poses, .landing-sequences, .landing-classes, .landing-articles {
	h3 a {
		color: $black;
		text-transform: uppercase;
		margin-bottom: -20px;
	}
	figcaption {
		display: none;
	}
	figcaption {
		background: $primary-color;
		height: rem-calc(50);
		width: 100%;
		margin-top: rem-calc(-50);
		display: block;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
		-moz-transition: visibility 0.2s linear, opacity 0.2s linear;
		-o-transition: visibility 0.2s linear, opacity 0.2s linear;
		}
	figure:hover {
		figcaption {
			visibility: visible;
			opacity: .85;
		}
	}
	figcaption h4 {
		color: $white;
		opacity: 1;
		padding: rem-calc(4 0 0 12);
		font-size: rem-calc(28);
		font-family: $noto;
	}
}

.landing-poses, .landing-sequences {
	margin-top: rem-calc(20);
}


.landing-classes, .landing-articles {
	margin-top: rem-calc(30);
}



/*********************
CONTENT
*********************/

.inner-content {
	@include xy-grid-container();
}



/*********************
POSES
*********************/

.yoga-pose-filter {
	@include xy-cell(100%);
	margin-top: rem-calc(10);
	h2 {
		font-size: rem-calc(25);
	}
}

.beautiful-taxonomy-filters {
	margin: 0;
	padding: 0;
	background: none;
	box-shadow: none;
}

.beautiful-taxonomy-filters-label {
	font-size: rem-calc(20);
}

.yoga-pose {
	@include xy-cell(50%);
  @include breakpoint(medium) {
    @include xy-cell(2);
  }
	h3 a {
		font-size: rem-calc(22);
	}
}

.yoga-sequence {
	@include xy-cell();
  @include breakpoint(medium) {
    @include xy-cell(50%);
  }
	h3 a {
		font-size: rem-calc(22);
	}
}




.yoga-class {
	@include xy-cell();
  @include breakpoint(medium) {
    @include xy-cell(4);
	}
}



.yoga-article {
	@include xy-cell(50%);
}


.fabric-background {
	display: block;
	background-color: #fafbfc;
	background-image: url("../images/45-degree-fabric-light.png");
	border: solid #98b0b4 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.post-type-archive-pose {
	figure {
		margin: 0;
		padding: 0;
	}
	figcaption {
		display: none;
	}
	figcaption {
		background: $primary-color;
		height: rem-calc(67);
		width: 100%;
		margin-top: rem-calc(-35);
		display: block;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
		-moz-transition: visibility 0.2s linear, opacity 0.2s linear;
		-o-transition: visibility 0.2s linear, opacity 0.2s linear;
		}
	figure:hover {
		figcaption {
			visibility: visible;
			opacity: .85;
		}
	}
	figcaption h4 {
		color: $white;
		opacity: 1;
		padding: rem-calc(2 0 0 10);
		font-size: rem-calc(22);
	}
}



/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table;
}
.gallery::after {
	clear: both;
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.gallery dl:last-child:not(:first-child) {
  float: right;
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}



/*********************
EVENTS
*********************/

.event-leftcontent {
	@include xy-cell(50%);
}

.event-rightcontent {
	@include xy-cell(50%);
}




/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}
